@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Nerko+One&family=Yeon+Sung&display=swap');

.body {
    margin: 0;
}

nav {
    width: 30%;
    margin-left: calc(10%/6);
    padding-bottom: 0.5rem;
    border-bottom: 2px solid #f1f1f1;
    font-size: 2.5rem;
    font-family: 'Nerko One', cursive;
    font-weight: 700;
    text-transform: uppercase;
}

img {
    width: 30%;
    margin: calc(10%/6);
}

div {
    display: flex;
}