<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Not found</title>
    <link rel="stylesheet" href="/app.css" />
  </head>
  <body>
    <h1>찾는 페이지는 존재하지 않는 페이지입니다. :: <%= subreddit %></h1>
  </body>
</html>
