<!DOCTYPE html>
<html lang="ko">
  <%- include('partials/head')%>

  <body>
    <%- include('partials/navbar')%>
    <h1>현재 등원중인 고양이</h1>
    <ul>
      <% for(let cat of allCats) { %>
      <li><%= cat %></li>
      <% } %>
    </ul>
  </body>
</html>
