<!DOCTYPE html>
<html lang="ko">
  <%- include('partials/head')%>
  <body>
    <%- include('partials/navbar')%>
    <h1>랜덤 번호:: <%= random %></h1>
    <h2><%= random%2===0 ? '짝수' : '홀수' %></h2>
  </body>
</html>
